<h3>Users</h3>
<table ng-show="Model.users.length" class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Date Created</th>
            <!--<th></th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in Model.users">
            <td>{{user.username}}</td>
            <td>{{user.dateCreated | date: 'MMM d, y h:mm a'}}</td>
            <!--<td><a href="{{user.href}}">{{user.href}}</a></td>
            <td>
                <div ng-if="user.APIKey">
                    API Key Created
                </div>
                <div ng-if="!user.APIKey">
                    <button class="btn btn-default" ng-click="Actions.generateAPIKey(user._id)">Generate API Key</button>
                </div>
            </td>
            <td><button class="btn btn-default" ng-click="Actions.selectUser(user)">Select</button></td>-->
        </tr>
    </tbody>
</table>
<br><br>