<html ng-app="uiApp">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script type="application/javascript" src="app.js"></script>
    </head>
    <body ng-controller="LandingController">
        <h2>PABTC Site</h2>
        
        <!-- USERS TABLE -->
        <hr>
        <h3>Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>HREF</th>
                    <th>Permissions</th>
                    <th>API Key</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in Model.users">
                    <td>{{user.name}}</td>
                    <td>{{user.dateCreated}}</td>
                    <td><a href="{{user.href}}">{{user.href}}</a></td>
                    <td>
                        <table>
                            <tr>
                                <td ng-if="user.permissions.read">Read</td>
                                <td ng-if="user.permissions.write">Write</td>
                                <td ng-if="user.permissions.admin">Admin</td>
                            </tr>
                        </table>
                    </td>
                    <td>{{user.APIKey}}</td>
                </tr>
            </tbody>
        </table>
        
        
        <!-- USERS TABLE -->
        <hr>
        <h3>Tournaments</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tournament in Model.tournaments">
                    <td>{{tournament.name}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>