<h3>Tournaments</h3>
	
<button ng-show="Model.sessionActive" class="btn btn-default" ng-click="Actions.showNewTournamentModal()">Create Tournament as {{Model.username}}</button>

<h3>Active Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created By</th>
            <th>Registered Players</th>
            <th>Prize</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.activeTournaments">
            <td>{{tournament.name}}</td>
            <td>{{tournament.createdBy}}</td>
            <td>{{tournament.registrations.length}}</td>
            <td>
                <div ng-show="tournament.prizeCurrency == 'BTC'">
                    <i class="fa fa-btc"></i>
                    {{tournament.prizeAmount | number:8}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'mBTC'">
                    m<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:5}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'μBTC'">
                    &mu;<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:2}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'USD'">
                    <i class="fa fa-dollar"></i>{{tournament.prizeAmount | number:2}}
                </div>
            </td>
            <td>
                <button class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3>Upcoming Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>Registered Players</th>
            <th>Prize</th>
            <th>Buy-In</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.newTournaments.concat(Model.openTournaments).concat(Model.closedTournaments)">
            <td>{{tournament.name}}</td>
            <td>{{tournament.dateCreated | date: 'MMM d, y h:mm a'}}</td>
            <td>
                {{tournament.registrations.length}} / {{tournament.totalPlayers}}<br>
                <table>
                    <tr ng-repeat="player in tournament.registeredPlayers">
                        <td>{{player.name}}</td>
                    </tr>
                </table>
            </td>
            
            <td>
                <div ng-show="tournament.prizeAmount > 0">
                    <div ng-show="tournament.prizeCurrency == 'BTC'">
                        <i class="fa fa-btc"></i>
                        {{tournament.prizeAmount | number:8}}
                        <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount}}+BTC+in+USD" target="_blank">
                            <i class="fa fa-question"></i>
                        </a>
                    </div>
                    <div ng-show="tournament.prizeCurrency == 'mBTC'">
                        m<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:5}}
                        <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000}}+BTC+in+USD" target="_blank">
                            <i class="fa fa-question"></i>
                        </a>
                    </div>
                    <div ng-show="tournament.prizeCurrency == 'μBTC'">
                        &mu;<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:2}}
                        <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000000}}+BTC+in+USD" target="_blank">
                            <i class="fa fa-question"></i>
                        </a>
                    </div>
                    <div ng-show="tournament.prizeCurrency == 'USD'">
                        <i class="fa fa-dollar"></i>{{tournament.prizeAmount | number:2}}
                    </div>
                </div>
            </td>
            
            <td>
                <div ng-show="tournament.buyinAmount > 0">
                    <div ng-show="tournament.buyinCurrency == 'BTC'">
                        <i class="fa fa-btc"></i>
                        {{tournament.buyinAmount | number:8}}
                        <a ng-href="https://www.google.com/search?q={{tournament.buyinAmount}}+BTC+in+USD" target="_blank">
                            <i class="fa fa-question"></i>
                        </a>
                    </div>
                    <div ng-show="tournament.buyinCurrency == 'mBTC'">
                        m<i class="fa fa-btc"></i>{{tournament.buyinAmount | number:5}}
                        <a ng-href="https://www.google.com/search?q={{tournament.buyinAmount/1000}}+BTC+in+USD" target="_blank">
                            <i class="fa fa-question"></i>
                        </a>
                    </div>
                    <div ng-show="tournament.buyinCurrency == 'μBTC'">
                        &mu;<i class="fa fa-btc"></i>{{tournament.buyinAmount | number:2}}
                        <a ng-href="https://www.google.com/search?q={{tournament.buyinAmount/1000000}}+BTC+in+USD" target="_blank">
                            <i class="fa fa-question"></i>
                        </a>
                    </div>
                    <div ng-show="tournament.buyinCurrency == 'USD'">
                        <i class="fa fa-dollar"></i>{{tournament.buyinAmount | number:2}}
                    </div>
                </div>
            </td>
            
            <td>
                <button class="btn btn-default" ng-show="tournament.status == 'new'" ng-click="Actions.viewTournamentDetails(tournament)">Pre-Registration</button>
                <button class="btn btn-success" ng-show="tournament.status == 'open'" ng-click="Actions.viewTournamentDetails(tournament)">Registration Open</button>
                <button class="btn btn-default" ng-show="tournament.status == 'closed'" ng-click="Actions.viewTournamentDetails(tournament)">Registration Closed</button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3>Concluded Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created By</th>
            <th>Registered Players</th>
            <th>Winner</th>
            <th>Prize</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.finishedTournaments">
            <td>{{tournament.name}}</td>
            <td>{{tournament.createdBy}}</td>
            <td>{{tournament.registrations.length}}</td>
            <td>{{tournament.winner}}</td>
            <td>
            
                <div ng-show="tournament.prizeCurrency == 'BTC'">
                    <i class="fa fa-btc"></i>
                    {{tournament.prizeAmount | number:8}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'mBTC'">
                    m<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:5}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'μBTC'">
                    &mu;<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:2}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'USD'">
                    <i class="fa fa-dollar"></i>{{tournament.prizeAmount | number:2}}
                </div>
                
            </td>
            <td>
                <button class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>
