<div class="container">
    <h3>{{Model.name}} Tournament</h3>
    <p>Created by {{Model.createdBy}}</p>
    <p>
        Registered Players: {{Model.registrations.length}} / {{Model.totalPlayers}}
    
        <ol>
            <li ng-repeat="registration in Model.registrations">
                {{registration.username}}: {{registration.status}}
            </li>
        </ol>
    
    </p>
    <p>
    </p>
    <p>
        Set tournament status:<br>
        <button ng-click="Actions.setStatus('new')" class="btn btn-default">New</button>
        <button ng-click="Actions.setStatus('open')" class="btn btn-default">Registration Open</button>
        <button ng-click="Actions.setStatus('closed')" class="btn btn-default">Registration Closed</button>
        <button ng-click="Actions.setStatus('active')" class="btn btn-default">Active</button>
        <button ng-click="Actions.setStatus('finished')" class="btn btn-default">Finished</button>
    </p>
</div>