<div class="modal-header">
    <h3>{{Model.name}} Tournament</h3>
</div>

<div class="modal-body">
    <p>Created by {{Model.createdBy}}</p>
    <p>Tournament Registration: {{Model.status}}</p>
    
    
    <p> 
        <div ng-show="Model.prizeCurrency == 'BTC'">
            Prize: <i class="fa fa-btc"></i>
            {{Model.prizeAmount | number:8}}
            <a ng-href="https://www.google.com/search?q={{Model.prizeAmount}}+BTC+in+USD" target="_blank">
                <i class="fa fa-question"></i>
            </a>
        </div>
        <div ng-show="Model.prizeCurrency == 'mBTC'">
            Prize: m<i class="fa fa-btc"></i>{{Model.prizeAmount | number:5}}
            <a ng-href="https://www.google.com/search?q={{Model.prizeAmount/1000}}+BTC+in+USD" target="_blank">
                <i class="fa fa-question"></i>
            </a>
        </div>
        <div ng-show="Model.prizeCurrency == 'μBTC'">
            Prize: &mu;<i class="fa fa-btc"></i>{{Model.prizeAmount | number:2}}
            <a ng-href="https://www.google.com/search?q={{Model.prizeAmount/1000000}}+BTC+in+USD" target="_blank">
                <i class="fa fa-question"></i>
            </a>
        </div>
        <div ng-show="Model.prizeCurrency == 'USD'">
            Prize: <i class="fa fa-dollar"></i>{{Model.prizeAmount | number:2}}
        </div>
    </p>

    <p>
        Registered Players: {{Model.registrations.length}} / {{Model.totalPlayers}}
    
        <ol>
            <li ng-repeat="registration in Model.registrations">
                {{registration.username}}: {{registration.status}}
            </li>
        </ol>
    
    </p>

    <p ng-show="Model.status != 'finished'">
        Change tournament status:<br>
        <button ng-show="Model.status == 'new' || Model.status == 'closed'" ng-click="Actions.setStatus('open')" class="btn btn-default">
            Registration Open
        </button>
        <button ng-show="Model.status == 'new' || Model.status == 'open'" ng-click="Actions.setStatus('closed')" class="btn btn-default">
            Registration Closed
        </button>
        <button ng-show="Model.status == 'new' || Model.status == 'closed' || Model.status == 'open'" ng-click="Actions.setStatus('active')" class="btn btn-default">
            Active
        </button>
        <button ng-show="Model.status != 'finished'" ng-click="Actions.setStatus('finished')" class="btn btn-default">
            Finished
        </button>
    </p>

</div>

<div class="modal-footer">
    <span class="text-danger" ng-show="Model.errorText">{{Model.errorText}}</span>
    <button ng-show="Model.status == 'open' && Model.registrations.length < Model.totalPlayers" class="btn btn-success" ng-click="Actions.register()">
        Register For Tournament
    </button>

    <button ng-show="Model.status == 'open' && Model.registrations.length == Model.totalPlayers" disabled class="btn btn-primary">
        Registration Full
    </button>
</div>