<h3>Tournaments</h3>
	
<h3 ng-show="Model.sessionActive">Create Tournament as {{Model.username}}</h3>
<button class="btn btn-default" ng-click="Actions.showNewTournamentModal()">Create Tournament</button>

<h3>Active Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Registered Players</th>
            <th>Prize</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.activeTournaments">
            <td><a href="#/tournaments/{{tournament._id}}">{{tournament.name}}</a></td>
            <td>{{tournament.registrations.length}}</td>
            <td>{{tournament.prize}}</td>
            <td>
                <button class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3>Upcoming Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <!--<th>Date Created</th>-->
            <th>Created By</th>
            <th>Registered Players</th>
            <th>Prizes</th>
            <th>Details</th>
            <th>Register</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.newTournaments.concat(Model.openTournaments).concat(Model.closedTournaments)">
            <td>{{tournament.name}}</td>
            <td>{{tournament.dateCreated | date: 'MMM d, y h:mm a'}}</td>
            <td>{{tournament.createdBy}}</td>
            <td>
                {{tournament.registrations.length}} / {{tournament.totalPlayers}}<br>
                <table>
                    <tr ng-repeat="player in tournament.registeredPlayers">
                        <td>{{player.name}}</td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td>
                <button class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
            <td>
                <div ng-show="tournament.status == 'new'">Pre-Registration</div>
                <button ng-show="tournament.status == 'open'" class="btn btn-primary" ng-click="Actions.register(tournament)">
                    Register
                </button>
                <div ng-show="tournament.status == 'closed'">Registration Closed</div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3>Concluded Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Winner</th>
            <th>Prizes</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.finishedTournaments">
            <td><a href="#/tournaments/{{tournament._id}}">{{tournament.name}}</a></td>
            <td>{{tournament.date}}</td>
            <td>{{tournament.winner}}</td>
            <td>{{tournament.prize}}</td>
            <td>
                <button class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>
