<h3>Tournaments</h3>
	
<h3 ng-show="Model.sessionActive">Create Tournament as {{Model.username}}</h3>
<button class="btn btn-default" ng-click="Actions.showNewTournamentModal()">Create Tournament</button>

<h3>Active Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Registered Players</th>
            <th>Prize</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.activeTournaments">
            <td><a href="#/tournaments/{{tournament._id}}">{{tournament.name}}</a></td>
            <td>{{tournament.registrations.length}}</td>
            <td>
                <div ng-show="tournament.prizeCurrency == 'BTC'">
                    <i class="fa fa-btc"></i>
                    {{tournament.prizeAmount | number:8}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'mBTC'">
                    m<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:5}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'μBTC'">
                    &mu;<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:2}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'USD'">
                    <i class="fa fa-dollar"></i>{{tournament.prizeAmount | number:2}}
                </div>
            </td>
            <td>
                <button class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3>Upcoming Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>Registered Players</th>
            <th>Prize / Buy-In</th>
            <th>Details</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.newTournaments.concat(Model.openTournaments).concat(Model.closedTournaments)">
            <td>{{tournament.name}}</td>
            <td>{{tournament.dateCreated | date: 'MMM d, y h:mm a'}}</td>
            <td>
                {{tournament.registrations.length}} / {{tournament.totalPlayers}}<br>
                <table>
                    <tr ng-repeat="player in tournament.registeredPlayers">
                        <td>{{player.name}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <div ng-show="tournament.prizeCurrency == 'BTC'">
                    <i class="fa fa-btc"></i>
                    {{tournament.prizeAmount | number:8}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'mBTC'">
                    m<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:5}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'μBTC'">
                    &mu;<i class="fa fa-btc"></i>{{tournament.prizeAmount | number:2}}
                    <a ng-href="https://www.google.com/search?q={{tournament.prizeAmount/1000000}}+BTC+in+USD" target="_blank">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
                <div ng-show="tournament.prizeCurrency == 'USD'">
                    <i class="fa fa-dollar"></i>{{tournament.prizeAmount | number:2}}
                </div>
            </td>
            <td>
                <button ng-show="tournament.status == 'open'" class="btn btn-success" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
                <button ng-show="tournament.status != 'open'"class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
            <td>
                <div ng-show="tournament.status == 'new'">Pre-Registration</div>
                <div ng-show="tournament.status == 'open'">Registration Open</div>
                <div ng-show="tournament.status == 'closed'">Registration Closed</div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3>Concluded Tournaments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Winner</th>
            <th>Prize</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in Model.finishedTournaments">
            <td><a href="#/tournaments/{{tournament._id}}">{{tournament.name}}</a></td>
            <td>{{tournament.date}}</td>
            <td>{{tournament.winner}}</td>
            <td>{{tournament.prize}}</td>
            <td>
                <button class="btn btn-default" ng-click="Actions.viewTournamentDetails(tournament)">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>
