<br>
<div class="row">
    <div class="col-xs-3">
        <h1>PA-BTC</h1>
    </div>
    <div class="col-xs-3">
        <a href="#">Home</a><br>
        <a href="#/users">Users</a><br>
        <a href="#/tournaments">Tournaments</a><br>
    </div>
    <div class="col-xs-6">
        <span ng-show="Model.username">Logged in as {{Model.username}}</span><br>
        
        <button ng-show="!Model.sessionActive" ng-click="Actions.goTo('login')" class="btn btn-default">Log In</button>
        <button ng-show="!Model.sessionActive" ng-click="Actions.goTo('registration')" class="btn btn-default">Register</button><br>
        
        <button ng-show="Model.sessionActive" ng-click="Actions.logout()" class="btn btn-default">Log Out</button>
    </div>
</div>
